body{
    transition: .6s ease all;
}
.dark{
    background: black;
}
html{
    display: flex;
    justify-content: center;
    margin-top: 50%;
}
.calculator{
    border: 0px solid;
    background: #4A4A4A;
    border-radius: 10%;
}

.text{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 61px;
    font-weight: 900;
}
.text p{
    background: #4A4A4A;
    margin-top: 7%;
    font-size: 40px;
}
.buttons{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 20px;
}

.button{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 21px;
    border: 0px solid;
    margin: 2px;
    cursor: pointer;
}

.gray{
    background-color: #d9d9d9;
    color: white;
    font-weight: 900;
}
.yellow{
    background-color: #FFB800;
    color: white;
    font-weight: 900;
}

.cero{
    width: 172%;
    border-radius: 27px;
}
.punto{
    margin-left: 103%;
}
.igual{
    margin-left: 103%;
}

/* Tamaños en @media para responsive */
@media (min-width: 640px) {
    html{
        margin-top: 330px;
    }

    .calculator{
        width: 370px;
    }
}

/* Tamaños en @media para responsive */
@media (min-width: 1200px) {
    html{
        margin-top: 50px;
    }

    .calculator{
        width: 700px;
        height: 578px;
    }
    .button{
        border-radius: 100%;
        width: 65px;
        height: 65px;
        font-size: 35px;
        border: 0px solid;
        margin: 10px;
        cursor: pointer;
    }
    .text{
        height: 22%;
    }
    .cero{
        width: 144%;
        border-radius: 30px;
    }
    .punto{
        margin-left: 107%;
    }
    .igual{
        margin-left: 107%;
    }
    .buttons{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        padding: 4px;
        margin-left: 43px;
    }
}
/* Dark Mode */
.switch{
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}
.switch span:nth-child(1){
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}
.switch span:nth-child(){
    margin-top: 10%;
}
.switch::after{
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.active{
    background: orange;
    color: black;
}
.active::after{
    right: 0;
    left: unset;
}